<div class="container">
    <div class="row">
        <div class="card" style="width: 55%; margin-left: 0; background-color: #2f2f2f">
            <div class="card-block">
                <h4 class="card-title white">2017 EN IMAGES</h4>
                <p class="card-text"><iframe width="560" height="315" src="https://www.youtube.com/embed/EeL_rahLQM8" frameborder="0" allowfullscreen></iframe></p>
            </div>
        </div>

        <div class="flex-column" style="width:40%">
            <div class="card" style="height: 200px; background-color: #903a51">
                <div class="card-block">
                    <h4 class="card-title white">2017 EN CHIFFRES</h4>
                    <ul>
                        <li class="white"><span style="font-size: 1.5rem">20</span> hackathons répartis dans toute la ville</li>
                        <li class="white"><span style="font-size: 1.5rem">400</span> participants</li>
                        <li class="white"><span style="font-size: 1.5rem">185</span> sandwichs</li>

                    </ul>
                </div>
            </div>
            <div class="card hackathons">
                <a class="homeLink" routerLink="/list-of-hackathons">LISTE DES HACKATHONS</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container col-12" style="background-color: white; padding: 1em;">
            <h4>PRESENTATION DES RESULTATS</h4>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(2).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(2).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(1).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(3).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(9).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(4).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(13).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(5).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(11).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(16).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(14).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(6).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(4).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(8).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(10).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(9).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(6).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(10).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(12).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(11).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(15).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(12).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(3).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(13).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(8).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(14).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(7).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(15).jpg" class="img-thumbnail"></a>
            <a href="assets/img/pic-selection/big/ogh17-sunday-l(16).jpg" target="_blank"><img src="assets/img/pic-selection/thumb/ogh17-sunday-m(17).jpg" class="img-thumbnail"></a>
        </div>
    </div>
</div>