<nav class="navbar fixed-top">
    <div class="container">
        <div class="row"></div>
        <img src="/assets/img/opengeneva-logo-s.png" class="col-3">

        <div class="col-6 navcontainer">
            <ul class="nav ">
                <li class="nav-item ">
                    <a class="nav-link active " routerLink="/homepage">ACCUEIL</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " routerLink="/list-of-hackathons">HACKATHONS 2017</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#">A PROPOS</a>
                </li>
            </ul>
        </div>
    </div>



</nav>