nav {
    height: 100px;
    background-color: #313131;
    -webkit-box-shadow: 0 8px 6px -6px #353535;
    -moz-box-shadow: 0 8px 6px -6px #353535;
    box-shadow: 0 8px 6px -6px #353535;
}

li a {
    color: #fff;
}

.navcontainer {
    float: right;
}

.nav-link {
    transition: 0.1s;
}

.nav-link:hover {
    border-bottom: 3px solid #c5cebe;
    color: #c5cebe;
}